@import '../src/styles/_variables.scss';
@import '../src/styles/_mixins.scss';

.projects {
    padding: 120px 0px;
    &__header {
        @include flex-sb;
        padding: 0px 360px;
    }

    &__list {
        @include flex-row-center;
        gap: 35px;

        &_filter {
            font-size: 18px;
            font-weight: 600;
            line-height: 21px;
        }

        &_filter.active {
            color: $additional-color;
        }
    }

    &__cards {
        gap: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr );
        margin-top: 70px;
    }

    &__card {
        position: relative;

        &_title {
            position: absolute;
            top: 470px;
            left: 50px;
            font-size: 32px;
            font-weight: 700;
            line-height: 45px;
        }

        &_hover {
            display: none;
            padding: 57px 30px;
            max-width: 370px;
            position: absolute;
            top: 0px;
            left: 4px;
            text-align: left;
            color: $additional-color-title;
            background-color: $additional-color;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &_subtitle {
            font-family: 'Gilroy';
            font-size: 32px;
            font-weight: 700;
            line-height: 45px;
        }

        &_text {
            padding: 120px 0px 140px 0px;
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
        }

        &_action {
            color: $additional-color-title;
            cursor: pointer;
            position: relative;
            border: none;
            background-color: rgba(255, 255, 255, 0.00);
            font-size: 20px;
            font-weight: 700;
        }
    
        &_action::after {
            position: absolute;
            top: 8px;
            left: 130px;
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-left: 3px solid #272727;
            border-bottom: 3px solid #272727;
            transform: rotate(225deg);
        }
    }

    &__card.hide {
        display: none;
    }

    &__card:hover .projects__card_hover {
        display: block;
        opacity: 1;
    }
}