@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: local('Gilroy-Bold'), url('../src/assets/fonts/Gilroy-Bold.woff') format('woff')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    src: local('Gilroy-Black'), url('../src/assets/fonts/Gilroy-Heavy.woff') format('woff')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy-Light'), url('../src/assets/fonts/Gilroy-Light.woff') format('woff')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: local('Gilroy-Medium'), url('../src/assets/fonts/Gilroy-Medium.woff') format('woff')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Regular'), url('../src/assets/fonts/Gilroy-Regular.woff') format('woff')
}