@import './_reset.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './_fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $main-color-title;
  font-family: 'Gilroy';
  background: #272727;
}

a {
  text-decoration: none;
  color: $main-color-title;
}

a:hover {
  color: $additional-color;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
}

h3 {
font-size: 48px;
font-weight: 700;
line-height: 69px;
}

p, button {
  font-family: 'Work Sans', sans-serif;
  border: none;
}

input {
  border: none;
  color: #000;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 500;
}

input::placeholder {
  color: #000;
  font-weight: 300;
}