@import '../src/styles/_variables.scss';
@import '../src/styles/_mixins.scss';

.header {
    padding: 25px 0 25px 0 ;
    @include flex-sb;

    &__list {
        display: flex;
        justify-content: row;
        gap: 40px;
    }

    &__btn {
        cursor: pointer;
        background: $additional-color;
        padding: 12px 14px;
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }

    &__language {
        &_ua {
            color: $additional-color-paragraph;
            background-color: $background-color;
            font-size: 14px;
            font-weight: 600;
        }
        &_ua:hover {
            cursor: pointer;
            color: $main-color-title;
        }
        &_en {
            color: $additional-color;
            background-color: $background-color;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &__phone {
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
    }

    &__phone:hover {
        cursor: pointer;
        color: $additional-color;
    }

    &__action {
        @include flex-sb;
        gap: 50px;
    }
}