@import './src/styles/_variables.scss';

.modal {
    background-color: #fff;
    padding: 65px 140px 45px 140px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 48px;
        color: $additional-color;
    }

    &__close::before {
        content: '×';
    }

    &__title {
        color: #000;
    }

    &__subtitle {
        color: #000;
        font-size: 20px;
        font-weight: 400;
    }

    &__form {
        padding-top: 45px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        &_input {
            outline: none;
            padding: 15px 0px;
            border-bottom: 1px solid #929292;
        }

        &_input:focus {
            border-color: $additional-color;
        }

        &_button {
            display: inline-block;
            max-width: 220px;
            background: $additional-color;
            padding: 16px 78px;
            font-size: 18px;
            font-weight: 600;
            margin: 30px auto;
        }
    }
}  