@import './src/styles/_variables.scss';
@import './src/styles/_mixins.scss';

.baner {
    background-image: url('./src/assets/img/baner-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    &__content {
        padding: 280px 0px 380px 360px;
        position: relative;
        display: flex;
        gap: 25px;
        flex-direction: column;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    &__content::after {
        position: absolute;
        top: 235px;
        left: 330px;
        content: url('./src/assets/svg/rectangle.svg');
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__title {
        font-size: 96px;
        font-weight: 700;
        line-height: 100px;
        &_span {
            color: $additional-color;
        }
    }

    &__action {
        cursor: pointer;
        text-align: left;
        position: relative;
        border: none;
        background-color: rgba(255, 255, 255, 0.00);
        color: $main-color-title;
        font-size: 20px;
        font-weight: 700;
    }

    &__action::after {
        position: absolute;
        top: 10px;
        left: 206px;
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(225deg);
    }

    &__socials {
        position: absolute;
        @include flex-column-center;
        gap: 20px;
        bottom: 270px;
        left: 1820px;
    }

    &__list {
        position: absolute;
        left: 817px;
        top: 917px;
        padding: 58px 0px 40px 60px;
        background-color: $background-color;
        @include flex-row-center;
        gap: 160px;

        &_point {
            @include flex-row-center;
            gap: 35px;
        }

        &_number {
            font-size: 60px;
            font-weight: 700;
            line-height: 24px;
        }

        &_number.active {
            color: $additional-color;
        }

        &_text {
            text-align: left;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
        }
    }
}